<html>
    <title>
        hello
    </title>
    <body>
        <h3>hello</h3>
        <% if(locals.user){%>
            <p>I am logged in</p>
        <%} else{%>
            <p>I am not logged in</p>
            
        <% } %>    
        
    </body>
</html>